
kinect2\.0/\.idea/inspectionProfiles/

kinect2\.0/\.idea/

prototype/experiments/.idea/inspectionProfiles/

prototype/experiments/.idea/

.idea/inspectionProfiles/

.idea/misc.xml

.idea/modules.xml

.idea/
