numpy~=1.19.0
pylibfreenect2~=0.1.4
pygame~=1.9.6
pykinect2~=0.1.0
pyrealsense2~=2.35.2.1937
imutils~=0.5.3
scipy~=1.4.1
tensorflow~=2.2.0
pip~=20.1.1
zlib~=1.2.11
wheel~=0.34.2
openssl~=1.1.1g
setuptools~=49.2.0
cython~=0.29.21
docutils~=0.16
scikit-learn~=0.23.1
python-osc~=1.7.4
pyqt5~=5.10